<%= render "shared/header" %>


<div class="repertoire-show">
  <div class="repertoire-box">
    <h2 class="name">
      <%= @repertoire.name %>
    </h2>
    <div class="repertoire-img-content">
      <%= image_tag @repertoire.image ,class:"repertoire-box-img" %>

    <div class= post-edit-btn>
    <% if user_signed_in? %>
      <% if current_user.id == @repertoire.user_id %>
      <%= link_to "この投稿を編集", edit_repertoire_path, method: :get, class: "repertoire-red-btn" %>
      <%= link_to "削除", repertoire_path(@repertoire.id), method: :delete, class:"repertoire-destroy" %>
      <% end %>
    <% end %>
    </div>


    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-repertoire">投稿者</th>
          <td class="detail-value"><%= @repertoire.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-repertoire">料理名</th>
          <td class="detail-value"><%= @repertoire.name %></td>
        </tr>
        <tr>
          <th class="detail-repertoire">調理時間</th>
          <td class="detail-value"><%= @repertoire.cooking_time.name %></td>
        </tr>
        <tr>
          <th class="detail-repertoire">カテゴリー</th>
          <td class="detail-value"><%= @repertoire.category.name %></td>
        </tr>

        <tr>
          <th class="detail-repertoire">人数</th>
          <td class="detail-value"><%= @repertoire.serving.name %></td>
        </tr>

        <tr>
          <th class="detail-repertoire">材料/分量</th>
              <td class="ingredients-data">
                  <% @repertoire.ingredients.each do |ingredient| %>
                  <ul class="ingredient-list">
                    <li><%=safe_join(ingredient.name .split("\n"),tag(:br))%> / <%=safe_join(ingredient.amount.split("\n"),tag(:br))%></li>
                  </ul>
                  <% end %>
              </ul>
              </td>
          </th>
        </tr>

        <tr>
          <th class="detail-repertoire">レシピ</th>
          <td class="detail-value"><%=safe_join(@repertoire.recipe.split("\n"),tag(:br))%></td>
        </tr>
        <tr>
          <th class="detail-repertoire">ひとことメモ</th>
          <td class="detail-value"><%=safe_join(@repertoire.comment.split("\n"),tag(:br))%></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="option">
    <div class="favorite-btn">
     <% if current_user.already_liked?(@repertoire) %>
        <%= link_to 'いいねを取り消す', repertoire_likes_path(@repertoire), method: :delete %>
      <% else %>
        <%= link_to 'いいね', repertoire_likes_path(@repertoire), method: :post %>
      <% end %> 
      <%= image_tag "heart.png" ,class:"favorite-heart-icon" ,width:"20",height:"20"%>
      <%= @repertoire.likes.size %>
    </div>
    <div class="report-btn">
      <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
      <span>不適切な投稿の通報</span>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>

  <div class="links">
    <div class="change-repertoire-btn">
      <% if @repertoire.previous.present? %>
        <%= link_to '＜前の裏技へ', repertoire_path(@repertoire.previous) %>
      <% end %>
    </div>
    <div class="change-repertoire-btn">
      <% if @repertoire.next.present? %>
        <%= link_to '次の裏技へ＞', repertoire_path(@repertoire.next) %>
      <% end %>
    </div>
  </div>

  <a href="#" class="another-repertoire"><%= @repertoire.category.name %>をもっと見る</a>

  <div class="return-page">
    <%= link_to 'トップページへ戻る', root_path %>
  </div>

</div>

<%= render "shared/footer" %>
