<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    時短料理にCookhack!
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>


<div class='footer'>
  <div class='footer-contents'>
    <div class='cook-hack-details'>
      <h2 class='footer-content-head'>Cookhackについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Cookhack利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cook-hack-details'>
      <h2 class='footer-content-head'>Cookhackを見る</h2>
      <ul>
        <li><%= link_to 'みんなのレパートリー一覧', root_path(anchor: 'repertoire-list-name'), class: "footer-link" %></li>
        <li><%= link_to 'みんなのハック一覧', root_path(anchor: 'hack-list-name'), class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cook-hack-details'>
      <h2 class='footer-content-head'>Cookhackについて</h2>
      <ul>
        <li><%= link_to 'Cookhackガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'Cookhackロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("cook-hack-logo3shiro.png", class:"logo-white"), "#" %>
  <p>© Cookhack</p>
</div>