<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      Cook hack
    </h2>
    <p class='service-explain'>
      Cookhackは時短料理のレパートリーや、時短の裏技=【ハック】を共有できるサービスです。
    </p>
    <p class='service-explain'>
      忙しい毎日を送る方々の料理の時間を短縮し、自由な時間をつくるためのアプリです。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>

  <div class='search-bar-contents'>
    <%= form_with url: search_repertoires_path, local: true, method: :get, class: "search-form" do |f| %>
      <%= f.text_field :keyword, placeholder: "食材or料理名から検索", class: "search-input" %>
      <div class="search-button">
        <%= image_submit_tag("search.png", class: 'search-icon')%>
      </div>
    <% end %>
  </div>


  <div class='repertoire-contents'>
    <ul class='repertoire-lists'>

      <% @repertoires.each do |repertoire| %>
        <li class='list'>
          <%= link_to repertoire_path(repertoire.id) do %>
            <div class='repertoire-img-content'>
              <%= image_tag repertoire.image, class: "repertoire-img" %>
            </div>

            <div class='repertoire-info'>
              <h3 class='repertoire-name'>
                <%= repertoire.name %>
              </h3>
              <h5 class='repertoire-time'>
                <%= repertoire.cooking_time.name %>
              </h5>
              <div class='repertoire-cateegory'>
                <span><%= repertoire.category.name %></span>
                <div class='heart-btn'>
                  <%= image_tag "heart.png", class:"heart-icon" %>
                  <span class='heart-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>

      <% if @repertoires.blank? %> 
        <div class='repertoire-info'>
          <h3 class='repertoire-blank'>
            該当するレパートリーがありません
          </h3>
        </div>
      <% end %> 
      
</div>

<%= link_to 'トップページへもどる', "/", class: "back-btn" %>

<%= render "shared/footer" %>