  <div class='cooking_hack-contents'>
    <ul class='cooking_hack-lists'>
      <div id='hack-list-name'>裏技一覧</div>
      <li class='hack-list'>
        <% @cooking_hacks.each do |cooking_hack| %>
          <div class='cooking_hack-item'>
            <%= link_to cooking_hack_path(cooking_hack.id) do %>
            <%= image_tag cooking_hack.hack_image, class: "hack-img" %>
          
            <div class='cooking_hack-info'>
              <div class='cooking_hack-title'>
                <%= cooking_hack.title %>
              </div>
              <div class='heart-btn'>
                <%= image_tag "heart.png", class:"heart-icon" %>
                <span class='heart-count'><%= cooking_hack.liked_users.size %> </span>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </li>
    </ul>  

    <ul class='cooking_hack-lists'>  
      <% if @cooking_hacks.blank? %> 
        <li class='hack-list'>
          <div class='cooking_hack-img'>
            <%= link_to '#' do %>
            <%= image_tag "sample-hotcake.png", class: "hack-img" %>
          <div class='cooking_hack-info'>
            <h3 class='cooking_hack-title'>
              あなたのハックを投稿してね！
            </h3>
            <div class='heart-btn'>
              <%= image_tag "heart.png", class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %> 
    </ul>
  </div>